In [1]:
import pandas as pd 
df=pd.read_csv('/content/hiring_pro_3')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [2]:
import math
test_median=math.floor(df['test_score(out of 10)'].median())
test_median

8

In [3]:
df['test_score(out of 10)']=df['test_score(out of 10)'].fillna(test_median)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [5]:
df['experience']=df['experience'].fillna('zero')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [6]:
# installing third party lib.
#!pip install word2number
#should be commented after installing

In [8]:
pip install word2number

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5582 sha256=78449e5176482e44d153a6bf5535b2e165da43a4704594a86ce55c132f767a30
  Stored in directory: /root/.cache/pip/wheels/4b/c3/77/a5f48aeb0d3efb7cd5ad61cbd3da30bbf9ffc9662b07c9f879
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [9]:
from word2number import w2n

In [10]:
w2n.word_to_num('two million three thousand nine hundred and eighty four')

2003984

In [11]:
#approach_1
def convertword2number(x):
  return w2n.word_to_num(x)

In [12]:
df['experience']=df['experience'].apply(convertword2number)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [13]:
#approach_2
#df['experience'] = df['experience'].apply(lambda x: w2n.word_to_num(x))
#df

In [18]:
x=df.drop('salary($)',axis=1)
x

   experience  test_score(out of 10)  interview_score(out of 10)
0           0                    8.0                           9
1           0                    8.0                           6
2           5                    6.0                           7
3           2                   10.0                          10
4           7                    9.0                           6
5           3                    7.0                          10
6          10                    8.0                           7
7          11                    7.0                           8

In [20]:
y=df['salary($)']
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [22]:
#scikit learn
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(x,y)

LinearRegression()

In [23]:
reg.predict([[3,5,6]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([48636.09898108])

#understanding the ML

In [24]:
reg.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [25]:
m1=2812.95487627
m2=1845.70596798
m3=2205.24017467

In [28]:
b=reg.intercept_
b

17737.263464337688

In [29]:
y=(m1*3)+(m2*5)+(m3*6)+b
y

48636.09898106769

#Downloading the model

In [30]:
import pickle
with open('salarymodel','wb') as f:
  pickle.dump(reg,f)